<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <configSections>
		
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="connect" connectionString="Data Source=DESKTOP-A4AOROR;Initial Catalog=Temp1;Integrated Security=True;TrustServerCertificate=True"/>
	</connectionStrings>
</configuration>